crim_intervals==2.0.78
music21==8.3.0
pandas==2.3.3
streamlit==1.62.0
requests==2.31.0
wordcloud==1.9.6
verovio==5.5.0
svglib==2.2.0
reportlab==5.0.1
pyyaml==6.0.3
more-itertools==11.1.0
git+https://github.com/ELVIS-Project/PatternFinder.git@0254e05b63614e19d9a554379ca7a7fbbcdb69fd
